@import 'https://fonts.googleapis.com/css?family=El+Messiri|Ubuntu';
html, h3 {
  font-family: 'El Messiri', sans-serif;
}
.nav-item img {
    max-height: 54px;
}
a.nav-item {
    font-weight: bold;
}
.titleBig {
  font-size: 72px;
  line-height: 75px;
  font-weight: 900;
  font-family: 'El Messiri', sans-serif;
}
.partnersText{
  font-size: 18px;
  font-family: 'El Messiri', sans-serif;
}
.subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: 'El Messiri', sans-serif;
}
.jumbo-text {
  font-size: 70px;
  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.tilebg {
  background: url('/img/photo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.missionbg {
  background: url('/img/mission.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.webbg {
  background: url('/img/web.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mobilebg {
  background: url('/img/mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.designbg {
  background: url('/img/design.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wiresbg {
  background: url('/img/wires.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tilebgTwo {
  background: url('/img/photo1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.for2kbg {
  background: url('/img/for2k.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contactbg {
  background: url('/img/contact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.thanksbg {
  background: url('/img/thank.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
p{
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 25px;
}
footer{
  margin-bottom: 0px !important;
}
.footerText {
  color: #fff;
}

.nav-item {
  font-weight: 300;
  font-family: 'El Messiri', sans-serif;
}
.workLink {
    color: #fff;
}
.workLink:hover {
    color: #fff;
    opacity: 0.8;
}
.notification {
  margin-bottom: 0px !important;
}
#is-logo {
  /*background-color: black;*/
  background-image: url(/img/pitechlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;;
}

.whiteBlack:hover{
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

@media only screen and (max-width: 767px) {
  .titleBig {
    font-size: 52px;
    line-height: 54px;
    font-weight: 900;
  }
  }
